// This theme extends the volto-light-theme
// it is injected

:root {
  --narrow-container-width: 1100px;
  --default-container-width: 1100px;
}

.logo > a > img {
  width: 150px;
}

body.contenttype-plone-site,
body.contenttype-lrf {
  #main .breadcrumbs {
    display: block;
  }
}
